/* color veriable */
$body_bg_color:#93b5ff;
$body_color_1:#11111d;
$body_color_2:#191933;
$button_color:#545cff;
$font_color:#d6dbf4;
/* dark_mode_color */

/* font name */
$poppins:'Poppins';
/* border */
$border: 0px solid red;